# Exploratory Data Analysis

In [6]:
import preprocessing as pre
import os

In [11]:
path_data = os.path.join(os.getcwd(), 'DATA')

In [12]:
list_files = os.listdir(path_data)

In [16]:
list_files = list(filter(lambda x: '.json' in x, list_files))
list_files

['Bicimad_Estacions_201808.json',
 'Bicimad_Estacions_201809.json',
 'Bicimad_Estacions_201810.json',
 'Bicimad_Stations_201811.json',
 'Bicimad_Stations_201812.json',
 'Bicimad_Stations_201901.json']

In [18]:
df_activate = pre.make_all_dataset(list_files, 'activate')

0%[--10%------------------]100%
=============================
Bicimad_Estacions_201808.json added to DataSet
=============================
0%[----20%----------------]100%
0%[------30%--------------]100%
=============================
Bicimad_Estacions_201809.json added to DataSet
=============================
0%[--------40%------------]100%
0%[----------50%----------]100%
=============================
Bicimad_Estacions_201810.json added to DataSet
=============================
0%[------------60%--------]100%
=============================
Bicimad_Stations_201811.json added to DataSet
=============================
0%[--------------70%------]100%
0%[----------------80%----]100%
=============================
Bicimad_Stations_201812.json added to DataSet
=============================
0%[------------------90%--]100%
=============================
Bicimad_Stations_201901.json added to DataSet
=============================

In [19]:
df_activate.sample(5)

,Date,1-1a_activate,2-1b_activate,3-2_activate,4-3_activate,5-4_activate,6-5_activate,7-6_activate,8-7_activate,9-8_activate,...,138-158_activate,173-159_activate,172-160_activate,132-161_activate,133-162_activate,134-163_activate,136-164_activate,135-165_activate,174-166_activate,175-167_activate
157,2018-11-07 09:11:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
577,2019-01-25 04:05:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
120,2019-01-06 01:53:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
144,2018-11-06 20:11:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
484,2018-08-20 23:12:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [20]:
### Is there any station desactivated at anytime?

In [28]:
df_activate[df_activate == 0].dropna(axis=1, how='all').shape

(4422, 0)

In [29]:
#All station have been activated