In [1]:
import pandas as pd

In [3]:
df = pd.read_json("201901_Usage_Bicimad.json", lines=True)

In [4]:
df.head(5)

,_id,ageRange,idplug_base,idplug_station,idunplug_base,idunplug_station,track,travel_time,unplug_hourTime,user_day_code,user_type,zip_code
0,{'$oid': '5c4b07ea2f38432e007daab8'},0,14,83,23,82,"{'type': 'FeatureCollection', 'features': [{'g...",162,{'$date': '2019-01-01T00:00:00.000+0100'},b3b5b61509ab89afbf4d1e589d229bebe6637c2de819f5...,1,
1,{'$oid': '5c4b07ea2f38432e007daaba'},5,10,36,1,133,"{'type': 'FeatureCollection', 'features': [{'g...",415,{'$date': '2019-01-01T00:00:00.000+0100'},a18550d468153bb8e1808d4f0a85955579951832772996...,1,28005
2,{'$oid': '5c4b07ea2f38432e007daabb'},0,5,90,3,25,"{'type': 'FeatureCollection', 'features': [{'g...",545,{'$date': '2019-01-01T00:00:00.000+0100'},905737396c2fe343c84d62eaee3ab66e19632638c5bea7...,1,
3,{'$oid': '5c4b07ea2f38432e007daabd'},3,18,155,6,105,"{'type': 'FeatureCollection', 'features': [{'g...",417,{'$date': '2019-01-01T00:00:00.000+0100'},5922b4a1a2591161ebf1ad66f42f52cc7796f3754c2c76...,1,28009
4,{'$oid': '5c4b07ea2f38432e007daabe'},4,4,44,12,51,"{'type': 'FeatureCollection', 'features': [{'g...",448,{'$date': '2019-01-01T00:00:00.000+0100'},ed1c1a22c120e7d42cc522c33ab41db549791f3914b273...,1,28005

In [6]:
import preprocessing as p

In [13]:
df[id] = df['_id'].map(p.get_id)
df[]

datetime.datetime(2019, 1, 13, 17, 0)