# Model

The puspose of this notebook is to create a model and all the features that can help to improve the accuracy of such model.

It is been decided to use a Gradient Boosting due to the good results it gives

The approach we are following is to apply the feature engineering and the hyperparametrization to one postal code.
The way to do this is making a pipeline that will work for every postal code.

We will start with the first postal code of the data set: 28013

And we will follow the following points:

1. Create the dataframe
2. Times feature engineering
3. Lag Variables
4. Weather feature engineering
5. Model
6. Metrics

*NOTE: Kindly note that this notebook has been "cleaned up" and all the code has been organized for your easy understanding.*

## 1. Create the dataframe

In [50]:
#Import libraries
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_columns', None)

In [2]:
#Get the preprocessig_v2.py data path
cwd = os.getcwd()
cwd_list = cwd.split(os.sep)
preprocessing_path = os.path.join(os.sep.join(cwd_list[:-1]), '02-EDA')
preprocessing_path

'/home/gonzalo/Repos/TFM/02-EDA'

In [3]:
%cd $preprocessing_path
import preprocessing_v2 as pre
%cd $cwd

/home/gonzalo/Repos/TFM/02-EDA
/home/gonzalo/Repos/TFM/03-MODEL

In [4]:
postal_code = '28013'

In [5]:
#Define data path LINUX
data_path = '/home/gonzalo/Data/TFM/DATA/'
data_path

'/home/gonzalo/Data/TFM/DATA/'

In [6]:
df_dock_bikes = pre.make_all_dataset(data_path, 'dock_bikes',by_postal_code=True, verbose=True )

0%[--10%------------------]100%
=============================
Bicimad_Estacions_201810.json added to DataSet
=============================
0%[----20%----------------]100%
0%[------30%--------------]100%
=============================
Bicimad_Stations_201901.json added to DataSet
=============================
0%[--------40%------------]100%
0%[----------50%----------]100%
=============================
Bicimad_Estacions_201808.json added to DataSet
=============================
0%[------------60%--------]100%
=============================
Bicimad_Stations_201812.json added to DataSet
=============================
0%[--------------70%------]100%
0%[----------------80%----]100%
=============================
Bicimad_Estacions_201809.json added to DataSet
=============================
0%[------------------90%--]100%
=============================
Bicimad_Stations_201811.json added to DataSet
=============================

In [7]:
df_total_bases = pre.total_bases_dataset(data_path)

In [9]:
df_occupation_rate = pre.make_df_occupation_rate(df_dock_bikes, df_total_bases)

In [10]:
df_occupation_rate.head()

,28013_OccupationRate,28015_OccupationRate,28004_OccupationRate,28010_OccupationRate,28005_OccupationRate,28008_OccupationRate,28014_OccupationRate,28012_OccupationRate,28009_OccupationRate,28007_OccupationRate,28001_OccupationRate,28006_OccupationRate,28020_OccupationRate,28002_OccupationRate,28045_OccupationRate,28003_OccupationRate,28046_OccupationRate,28036_OccupationRate,28016_OccupationRate
Date,,,,,,,,,,,,,,,,,,,
2018-08-01,0.213797,0.357760,0.223711,0.526093,0.503969,0.382280,0.376431,0.525494,0.455600,0.637176,0.374077,0.416704,0.558309,0.560564,0.497305,0.528046,0.392157,0.588095,0.256932
2018-08-02,0.258352,0.309609,0.287564,0.429735,0.494181,0.415399,0.429609,0.525772,0.472398,0.586897,0.403961,0.342030,0.498043,0.441732,0.486419,0.483920,0.494270,0.634788,0.292505
2018-08-03,0.300034,0.328358,0.246035,0.376402,0.470126,0.440479,0.546942,0.528967,0.407599,0.594210,0.426108,0.401211,0.472308,0.569466,0.577809,0.409132,0.453639,0.669497,0.453307
2018-08-04,0.350791,0.366367,0.181165,0.393908,0.389521,0.472140,0.501181,0.456476,0.515255,0.554839,0.512104,0.445342,0.493756,0.476997,0.544531,0.520857,0.519066,0.555746,0.491611
2018-08-05,0.338196,0.460019,0.367330,0.520932,0.378999,0.521230,0.407549,0.415905,0.442334,0.512357,0.470336,0.532366,0.468555,0.498330,0.485523,0.548259,0.509181,0.499412,0.452080

#### Let's divide the dataset into train and test sets. Kindly note that the purpose of this model is to predict the occupation rate of the next day by postal code, therefore we will just save the last two days. One vor validaton an the other one for test.

In [16]:
train = df_occupation_rate.iloc[:-2]
train.tail(1)

,28013_OccupationRate,28015_OccupationRate,28004_OccupationRate,28010_OccupationRate,28005_OccupationRate,28008_OccupationRate,28014_OccupationRate,28012_OccupationRate,28009_OccupationRate,28007_OccupationRate,28001_OccupationRate,28006_OccupationRate,28020_OccupationRate,28002_OccupationRate,28045_OccupationRate,28003_OccupationRate,28046_OccupationRate,28036_OccupationRate,28016_OccupationRate
Date,,,,,,,,,,,,,,,,,,,
2019-01-30,0.48614,0.512156,0.556675,0.407846,0.564081,0.463787,0.346336,0.422391,0.532424,0.526549,0.380444,0.402423,0.458475,0.437238,0.438652,0.613636,0.431234,0.553488,0.576655

In [19]:
validation = df_occupation_rate[-2:-1]
validation

,28013_OccupationRate,28015_OccupationRate,28004_OccupationRate,28010_OccupationRate,28005_OccupationRate,28008_OccupationRate,28014_OccupationRate,28012_OccupationRate,28009_OccupationRate,28007_OccupationRate,28001_OccupationRate,28006_OccupationRate,28020_OccupationRate,28002_OccupationRate,28045_OccupationRate,28003_OccupationRate,28046_OccupationRate,28036_OccupationRate,28016_OccupationRate
Date,,,,,,,,,,,,,,,,,,,
2019-01-31,0.53734,0.454545,0.506321,0.418848,0.471588,0.431507,0.356584,0.488684,0.547666,0.411472,0.436453,0.521556,0.487042,0.429854,0.450518,0.554733,0.537722,0.610229,0.521336

In [20]:
test = df_occupation_rate[-1:]
test

,28013_OccupationRate,28015_OccupationRate,28004_OccupationRate,28010_OccupationRate,28005_OccupationRate,28008_OccupationRate,28014_OccupationRate,28012_OccupationRate,28009_OccupationRate,28007_OccupationRate,28001_OccupationRate,28006_OccupationRate,28020_OccupationRate,28002_OccupationRate,28045_OccupationRate,28003_OccupationRate,28046_OccupationRate,28036_OccupationRate,28016_OccupationRate
Date,,,,,,,,,,,,,,,,,,,
2019-02-01,0.487179,0.576,0.473837,0.369369,0.602362,0.407609,0.325843,0.689781,0.561765,0.677778,0.131068,0.438503,0.525974,0.306306,0.422414,0.597015,0.578313,0.614286,0.714286

#### Kindly note that the split is just informative, we will split the dataset before train the model. In the following engineering we will use the train with validations because it is needed the day to predict to get some features

In [26]:
df_train = df_occupation_rate.iloc[:-1]

## 2. Times feature engineering

The procedure we are going to follow is the following:

- Make the feature day_month, since it may be important to know if we are at the beginning or end of the month.
- Make the feature back_days, which will be the number of days between the day to predict and the sample.
- Maje the feature weekday which will be divided in two, since in order to keep the information that the sunday is next to monday, we will divide by coordinates where the days of the week will be aroun a circle as a clock.

In [27]:
df_train.head()

,28013_OccupationRate,28015_OccupationRate,28004_OccupationRate,28010_OccupationRate,28005_OccupationRate,28008_OccupationRate,28014_OccupationRate,28012_OccupationRate,28009_OccupationRate,28007_OccupationRate,28001_OccupationRate,28006_OccupationRate,28020_OccupationRate,28002_OccupationRate,28045_OccupationRate,28003_OccupationRate,28046_OccupationRate,28036_OccupationRate,28016_OccupationRate
Date,,,,,,,,,,,,,,,,,,,
2018-08-01,0.213797,0.357760,0.223711,0.526093,0.503969,0.382280,0.376431,0.525494,0.455600,0.637176,0.374077,0.416704,0.558309,0.560564,0.497305,0.528046,0.392157,0.588095,0.256932
2018-08-02,0.258352,0.309609,0.287564,0.429735,0.494181,0.415399,0.429609,0.525772,0.472398,0.586897,0.403961,0.342030,0.498043,0.441732,0.486419,0.483920,0.494270,0.634788,0.292505
2018-08-03,0.300034,0.328358,0.246035,0.376402,0.470126,0.440479,0.546942,0.528967,0.407599,0.594210,0.426108,0.401211,0.472308,0.569466,0.577809,0.409132,0.453639,0.669497,0.453307
2018-08-04,0.350791,0.366367,0.181165,0.393908,0.389521,0.472140,0.501181,0.456476,0.515255,0.554839,0.512104,0.445342,0.493756,0.476997,0.544531,0.520857,0.519066,0.555746,0.491611
2018-08-05,0.338196,0.460019,0.367330,0.520932,0.378999,0.521230,0.407549,0.415905,0.442334,0.512357,0.470336,0.532366,0.468555,0.498330,0.485523,0.548259,0.509181,0.499412,0.452080

In [35]:
 df_train.index[2].day

3

In [39]:
df_train['day_month'] = df_train.index.day
df_train.head()

/home/gonzalo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,28013_OccupationRate,28015_OccupationRate,28004_OccupationRate,28010_OccupationRate,28005_OccupationRate,28008_OccupationRate,28014_OccupationRate,28012_OccupationRate,28009_OccupationRate,28007_OccupationRate,28001_OccupationRate,28006_OccupationRate,28020_OccupationRate,28002_OccupationRate,28045_OccupationRate,28003_OccupationRate,28046_OccupationRate,28036_OccupationRate,28016_OccupationRate,day_month
Date,,,,,,,,,,,,,,,,,,,,
2018-08-01,0.213797,0.357760,0.223711,0.526093,0.503969,0.382280,0.376431,0.525494,0.455600,0.637176,0.374077,0.416704,0.558309,0.560564,0.497305,0.528046,0.392157,0.588095,0.256932,1
2018-08-02,0.258352,0.309609,0.287564,0.429735,0.494181,0.415399,0.429609,0.525772,0.472398,0.586897,0.403961,0.342030,0.498043,0.441732,0.486419,0.483920,0.494270,0.634788,0.292505,2
2018-08-03,0.300034,0.328358,0.246035,0.376402,0.470126,0.440479,0.546942,0.528967,0.407599,0.594210,0.426108,0.401211,0.472308,0.569466,0.577809,0.409132,0.453639,0.669497,0.453307,3
2018-08-04,0.350791,0.366367,0.181165,0.393908,0.389521,0.472140,0.501181,0.456476,0.515255,0.554839,0.512104,0.445342,0.493756,0.476997,0.544531,0.520857,0.519066,0.555746,0.491611,4
2018-08-05,0.338196,0.460019,0.367330,0.520932,0.378999,0.521230,0.407549,0.415905,0.442334,0.512357,0.470336,0.532366,0.468555,0.498330,0.485523,0.548259,0.509181,0.499412,0.452080,5

In [40]:
date_to_predict =  df_train.index[-1]

In [42]:
diff_dates = date_to_predict - df_train.index

In [44]:
df_train['back_days'] = diff_dates.days
df_train.tail(5)

/home/gonzalo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,28013_OccupationRate,28015_OccupationRate,28004_OccupationRate,28010_OccupationRate,28005_OccupationRate,28008_OccupationRate,28014_OccupationRate,28012_OccupationRate,28009_OccupationRate,28007_OccupationRate,28001_OccupationRate,28006_OccupationRate,28020_OccupationRate,28002_OccupationRate,28045_OccupationRate,28003_OccupationRate,28046_OccupationRate,28036_OccupationRate,28016_OccupationRate,day_month,back_days
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-27,0.299477,0.385396,0.162701,0.203048,0.494028,0.653363,0.407425,0.550138,0.632122,0.667118,0.347915,0.643278,0.526451,0.603318,0.660714,0.490738,0.710355,0.537703,0.715044,27,4
2019-01-28,0.368841,0.332530,0.216761,0.382485,0.444240,0.560981,0.454824,0.507675,0.597810,0.568873,0.498269,0.551532,0.519191,0.628977,0.582752,0.668240,0.658488,0.633393,0.870567,28,3
2019-01-29,0.448655,0.436226,0.436456,0.453835,0.521565,0.520196,0.449906,0.458112,0.482685,0.652618,0.372107,0.426589,0.468322,0.489508,0.538020,0.620786,0.532898,0.645218,0.799283,29,2
2019-01-30,0.486140,0.512156,0.556675,0.407846,0.564081,0.463787,0.346336,0.422391,0.532424,0.526549,0.380444,0.402423,0.458475,0.437238,0.438652,0.613636,0.431234,0.553488,0.576655,30,1
2019-01-31,0.537340,0.454545,0.506321,0.418848,0.471588,0.431507,0.356584,0.488684,0.547666,0.411472,0.436453,0.521556,0.487042,0.429854,0.450518,0.554733,0.537722,0.610229,0.521336,31,0

In [48]:
df_train.index[2].weekday()

4

In [53]:
days_of_week = 7

df_train['sin_weekday'] = np.sin(2*np.pi*df_train.index.weekday/days_of_week)
df_train['cos_weekday'] = np.cos(2*np.pi*df_train.index.weekday/days_of_week)

df_train.head(14)

/home/gonzalo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/gonzalo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,28013_OccupationRate,28015_OccupationRate,28004_OccupationRate,28010_OccupationRate,28005_OccupationRate,28008_OccupationRate,28014_OccupationRate,28012_OccupationRate,28009_OccupationRate,28007_OccupationRate,28001_OccupationRate,28006_OccupationRate,28020_OccupationRate,28002_OccupationRate,28045_OccupationRate,28003_OccupationRate,28046_OccupationRate,28036_OccupationRate,28016_OccupationRate,day_month,back_days,sin_weekday,cos_weekday
Date,,,,,,,,,,,,,,,,,,,,,,,
2018-08-01,0.213797,0.357760,0.223711,0.526093,0.503969,0.382280,0.376431,0.525494,0.455600,0.637176,0.374077,0.416704,0.558309,0.560564,0.497305,0.528046,0.392157,0.588095,0.256932,1,183,0.974928,-0.222521
2018-08-02,0.258352,0.309609,0.287564,0.429735,0.494181,0.415399,0.429609,0.525772,0.472398,0.586897,0.403961,0.342030,0.498043,0.441732,0.486419,0.483920,0.494270,0.634788,0.292505,2,182,0.433884,-0.900969
2018-08-03,0.300034,0.328358,0.246035,0.376402,0.470126,0.440479,0.546942,0.528967,0.407599,0.594210,0.426108,0.401211,0.472308,0.569466,0.577809,0.409132,0.453639,0.669497,0.453307,3,181,-0.433884,-0.900969
2018-08-04,0.350791,0.366367,0.181165,0.393908,0.389521,0.472140,0.501181,0.456476,0.515255,0.554839,0.512104,0.445342,0.493756,0.476997,0.544531,0.520857,0.519066,0.555746,0.491611,4,180,-0.974928,-0.222521
2018-08-05,0.338196,0.460019,0.367330,0.520932,0.378999,0.521230,0.407549,0.415905,0.442334,0.512357,0.470336,0.532366,0.468555,0.498330,0.485523,0.548259,0.509181,0.499412,0.452080,5,179,-0.781831,0.623490
2018-08-06,0.490636,0.479091,0.377400,0.407967,0.397738,0.452786,0.417554,0.420839,0.439648,0.432203,0.498646,0.460795,0.422601,0.496408,0.465886,0.460161,0.515429,0.515355,0.447684,6,178,0.000000,1.000000
2018-08-07,0.485917,0.458741,0.395698,0.385221,0.444565,0.535492,0.421878,0.490142,0.452694,0.478778,0.421544,0.459800,0.365116,0.439323,0.485547,0.471471,0.509718,0.483492,0.240964,7,177,0.781831,0.623490
2018-08-08,0.391871,0.463698,0.414617,0.412958,0.547779,0.512299,0.397177,0.625920,0.456338,0.458944,0.379381,0.438522,0.422281,0.387617,0.503370,0.481905,0.411286,0.465956,0.385714,8,176,0.974928,-0.222521
2018-08-09,0.502461,0.381074,0.373979,0.447518,0.595662,0.480821,0.406510,0.467355,0.487999,0.552320,0.406807,0.412836,0.448106,0.396284,0.460503,0.466543,0.448503,0.561877,0.575652,9,175,0.433884,-0.900969
2018-08-10,0.364240,0.348830,0.422474,0.364479,0.576573,0.525528,0.444695,0.543813,0.470747,0.524605,0.399836,0.461302,0.467150,0.368401,0.481246,0.403021,0.623018,0.534722,0.303351,10,174,-0.433884,-0.900969
2018-08-11,0.360328,0.348668,0.436421,0.381188,0.524567,0.478330,0.501607,0.547799,0.492143,0.566202,0.473748,0.502855,0.480973,0.461107,0.428471,0.476895,0.566978,0.504939,0.536585,11,173,-0.974928,-0.222521
2018-08-12,0.466497,0.450851,0.420065,0.519453,0.401204,0.418901,0.498756,0.398750,0.542235,0.466608,0.422613,0.489574,0.520555,0.512232,0.505510,0.498358,0.542321,0.489288,0.532986,12,172,-0.781831,0.623490
2018-08-13,0.416892,0.437913,0.404765,0.573446,0.450673,0.430251,0.424118,0.464450,0.482818,0.452946,0.440675,0.505057,0.526136,0.452471,0.527808,0.605422,0.482341,0.565851,0.591727,13,171,0.000000,1.000000
2018-08-14,0.579134,0.439407,0.330659,0.473580,0.467288,0.439212,0.414523,0.520477,0.523810,0.500409,0.419584,0.429466,0.500480,0.465849,0.434783,0.548603,0.411466,0.469055,0.433164,14,170,0.781831,0.623490