# Exploratory Data Analysis

In [1]:
import os
import pandas as pd

In [2]:
#Get the preprocessig.py data path
cwd = os.getcwd()
cwd_list = cwd.split(os.sep)
preprocessing_path = os.path.join(os.sep.join(cwd_list[:-1]), '01-Preprocessing_Data')
preprocessing_path

'/home/gonzalo/Repos/TFM/01-Preprocessing_Data'

In [3]:
%cd $preprocessing_path
import preprocessing as pre
%cd $cwd

/home/gonzalo/Repos/TFM/01-Preprocessing_Data
/home/gonzalo/Repos/TFM/02-EDA

In [4]:
#Define data path
data_path = '/home/gonzalo/Data/TFM/DATA/'

In [5]:
df_activate = pre.make_all_dataset(data_path, 'activate')

0%[--10%------------------]100%
=============================
Bicimad_Estacions_201810.json added to DataSet
=============================
0%[----20%----------------]100%
0%[------30%--------------]100%
=============================
Bicimad_Stations_201901.json added to DataSet
=============================
0%[--------40%------------]100%
0%[----------50%----------]100%
=============================
Bicimad_Estacions_201808.json added to DataSet
=============================
0%[------------60%--------]100%
=============================
Bicimad_Stations_201812.json added to DataSet
=============================
0%[--------------70%------]100%
0%[----------------80%----]100%
=============================
Bicimad_Estacions_201809.json added to DataSet
=============================
0%[------------------90%--]100%
=============================
Bicimad_Stations_201811.json added to DataSet
=============================

In [6]:
df_activate.sample(5)

,Date,1-1a_activate,2-1b_activate,3-2_activate,4-3_activate,5-4_activate,6-5_activate,7-6_activate,8-7_activate,9-8_activate,...,138-158_activate,173-159_activate,172-160_activate,132-161_activate,133-162_activate,134-163_activate,136-164_activate,135-165_activate,174-166_activate,175-167_activate
294,2019-01-13 07:57:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
94,2019-01-04 22:53:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
501,2018-09-10 01:28:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
457,2019-01-20 03:02:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
228,2018-08-10 09:05:00,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [7]:
### Is there any station desactivated at anytime?

In [8]:
df_activate[df_activate == 0].dropna(axis=1, how='all').shape

(4422, 0)

In [9]:
#All station have been activated